@{
    ViewBag.Title = "Home Page";
}


<style>
    #tblAlunos th {
        font-size: x-small;
    }

    #tblAlunos td {
        font-size: x-small;
    }

    p {
        margin: 1em 0;
    }

    strong {
        font-weight: 900;
    }

    .isa_info, .isa_success, .isa_warning, .isa_error {
        margin: 10px 0px;
        padding: 12px;
    }

    .isa_info {
        color: #000;
        background-color: #BDE5F8;
    }

    .isa_success {
        color: #4F8A10;
        background-color: #DFF2BF;
    }

    .isa_warning {
        color:  #D8000C;
        background-color: #FEEFB3;
    }

    .isa_error {
        color: #D8000C;
        background-color: #FFBABA;
    }

        .isa_info i, .isa_success i, .isa_warning i, .isa_error i {
            margin: 10px 22px;
            font-size: 2em;
            vertical-align: middle;
        }

    .show {
        display: block;
    }

    .hide {
        display: none;
    }
</style>


<div class="jumbotron">
    <div id="FiltrosTurma" class="form-group row">
        <div class="col-xs-2">
            <label for="ex3">Chave</label>
            <input class="form-control" id="txtToken" type="text">
        </div>
        <div class="col-xs-2">
            <label for="ex1">Número AES</label>
            <input class="form-control" id="txtNumeroAES" type="text" disabled="disabled">
        </div>

        <div class="col-xs-2">
            <label for="ex3">Mês</label>

            @*<input class="form-control" id="txtMesReferencia" type="text">*@
            <select class="form-control" id="idMes">
                <option value="0">Selecione...</option>
                <option value="01">Janeiro</option>
                <option value="02">Fevereiro</option>
                <option value="03">Março</option>
                <option value="04">Abril</option>
                <option value="05">Maio</option>
                <option value="06">Junho</option>
                <option value="07">Julho</option>
                <option value="08">Agosto</option>
                <option value="09">Setembro</option>
                <option value="10">Outubro</option>
                <option value="11">Novembro</option>
                <option value="12">Dezembro</option>
            </select>
        </div>
        <div  class="col-xs-2">
            <label for="ex3">Ano</label>
            <select class="form-control" id="idAno">
                <option value="0">Selecione...</option>
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>

            </select>
        </div>
        <div class="col-xs-2">
            <label for="ex2">Item AES</label>
            <input class="form-control" id="txtItemAES" type="text">
        </div>
        <div class="col-xs-2">
            <label for="ex3">CPF</label>
            <input class="form-control" id="txtCpfSup" type="text">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xs-12">
            <label for="ex3">Curso/Turno/Turma</label>
            <select class="form-control" id="lstTurma" type="text">
                <option value="0">Selecione...</option>
            </select>
        </div>
    </div>

</div>
<div class="isa_error hide" id="divMensagemERR">
    <label> Token inválido ou não encontrado!. Tente novamente ou contate o administrador do sistema.</label><br />

</div>

<div class="isa_warning hide" id="divMensagemData">
    <strong> * Para a turma escolhida já foi lançado no mês/ano informado.Você pode sobreescrever os registros novante se necessário.</strong><br />

</div>


<div class="isa_success hide" id="divFinalizado">
    <strong>Você já finalizou essa AES.Aguardando processamento da Prodesp/CIMA. </strong>
</div>



<div class="table-responsive">
    <table id="diasLetivos" class="table">
        <thead>
            <tr>
                <th colspan="13">Dias Letivos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Data:</td>
                <td><input id="addDataLetiva" type="text" class="form-control" /></td>
            </tr>
            <tr>
                <td>Duração em minutos:</td>
                <td><input id="addHoraLetiva" type="text" class="form-control" maxlength="3" /></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;"><input id="btnAddDiaLetivo" type="button" class="btn" value="Adicionar Dia Letivo" /> <input id="btnLimparDiaLetivo" type="button" class="btn" value="Limpar Dia Letivo" /></td>
            </tr>
        </tbody>
    </table>



    <div id="divMessage" class="ui-widget" style="display:none">
        <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
            <p>
                <span class="ui-icon ui-icon-alert"
                      style="float: left; margin-right: .3em;"></span>
                <strong> Verifique os RA´s antes de enviar os dados!</strong>

                <table id="tbAlunosRaInvalido">
                    <thead>
                    </thead>
                    <tbody></tbody>
                </table>
            </p>
        </div>
    </div>
    <br />
    <table id="tblAlunos" class="table-bordered" style="table-layout: fixed;">
        <thead>
            <tr>
                <th style="width:400px;">Aluno</th>
                <th>
                    <div style="width:600px;overflow-x:scroll;">
                        <table id="diasLetivosHeader" class="table-bordered" style="border-left: none;">
                            <thead>
                                <tr></tr>
                                <tr></tr>
                            </thead>
                        </table>
                    </div>
                </th>
                <th style="width:120px;text-align:center;">Estágio</th>
                <th class="col-xs-1">RA(GDAE)</th>
                <th style="width:50px;">Aprovado</th>
                <th style="width:50px;">Ignorar</th>

            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div class="form-group" style="padding-top:20px;">
        <div style="width:100%;text-align:center;">
            <input id="btnSalvar" type="button" class="btn" value="Salvar" />
        </div>
    </div>
</div>

<div id="ModalHome" title="Lembrete" style="display:none;">
    <h4 style="color:red;">* Regra de formação do RA: 12 caracteres sendo que o número do RA não possui o dígito do RG.</h4>
    <img id="msg" src="/Content/mensage4edicaoFInal.jpg" />

</div>
<div id="modalMsg" title="Mensagem" style="display:none;">
    <h5>
        Finalizado com sucesso.Aguardando processamento da Prodesp/CIMA.
    </h5>

</div>

<script>
    var diasLancados = new Array();
    var contador = 0;
    var diaLancado = "";
    function aplicarMascaras() {
        $("#addDataLetiva").mask("99");
        $("[data-type='Hora']").mask("999:99");
        $("#mesReferencia").mask("99/9999");
        $("#txtCpfSup").mask("999.999.999-99");

        $("#ModalHome").dialog({

            dialogClass: "no-close",
            buttons: [
              {
                  text: "Fechar",
                  click: function () {
                      $(this).dialog("close");
                  }
              }
            ],
            width: 'auto',
            modal: true
        });

        $("span.fecharDialog").click(function () {
            $("#ModalHome").dialog("close");
        });



    }
    function BuscarTurmas() {
        var _mesAno = "";
        var _mes = $("#idMes").val();
        var _ano = $("#idAno").val();
        
         _mesAno = _mes + '/' + _ano;
        console.log(_mesAno);
        if (_mes == "0" || _ano == "0") {

            alert("Mês Ano é obrigatório pra buscar as turmas.");
            $("#txtItemAES").val('');
            return false;
        }

        if ($("#txtNumeroAES").val() && $("#txtItemAES").val() && _mesAno) {

            var filtros = { NumeroAES: $("#txtNumeroAES").val(), ItemAES: $("#txtItemAES").val(), MesReferencia: _mesAno };
            console.log(filtros);
            $.ajax({
                type: "POST",
                url: "/Home/BuscarTurmas",
                data: JSON.stringify(filtros),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    var retorno = JSON.parse(data);
                    $("#lstTurma").html("");
                    for (var item in retorno) {
                        $("#lstTurma").append("<option value='" + retorno[item].Id + "'>" + retorno[item].Nome + "</option>")
                    }
                }
            });
        }
    }
    function PesquisarTurmas() {
        $("#txtNumeroAES").focusout(function () {
            BuscarTurmas();
        });
        $("#txtItemAES").focusout(function () {
            BuscarTurmas();
        });

    }

    window.onload = function () {

        $("#txtToken").val('');
        $("#txtNumeroAES").val('');
        $("#txtItemAES").val('');
        $("#txtCpfSup").val('');
        var valido = true;
        aplicarMascaras();
        PesquisarTurmas();
        $("#addHoraLetiva").keyup(function () {
            if ($(this).val().length == 3) {
                $("#btnAddDiaLetivo").focus();
            }
        })

        $("#btnAddDiaLetivo").click(function () {

            diaLancado = $("#addDataLetiva").val();
            var jaAdicionado = ($.inArray(diaLancado, diasLancados) > -1);
            if (jaAdicionado) {
                alert("Dia já adicionado!");
            }
            else {

                if ($("#addDataLetiva").val() && $("#addHoraLetiva").val()) {

                    $("#diasLetivosHeader thead tr:eq(0)").append("<td style='width:30px;text-align:center;border-right:none;border-left:none;' data-id='" + $("#addDataLetiva").val() + "' data-horaLetiva='" + $("#addHoraLetiva").val() + "'>" + $("#addDataLetiva").val() + "</td>");
                    $("#diasLetivosHeader thead tr:eq(1)").append("<td style='width:30px;text-align:center;border-right:none;border-left:none;' data-id='" + $("#addDataLetiva").val() + "' data-horaLetiva='" + $("#addHoraLetiva").val() + "'>" + $("#addHoraLetiva").val() + "</td>");

                    $("#tblAlunos tbody tr").each(function () {
                        var matricula = $(this).find("td:eq(0)").attr("data-matricula");
                        $(this).find("td:eq(1)").append("<div style='width:30px;text-align:center;float:left;overflow-x: scroll;'><input type='checkbox' data-diaLetivo='" + $("#addDataLetiva").val() + "' data-horaLetiva='" + $("#addHoraLetiva").val() + "' data-matricula='" + matricula + "'  /></div>");
                    });

                    $("#addDataLetiva").val('').focus();
                    $("#addHoraLetiva").val('');

                }

                diasLancados[contador] = diaLancado;
                contador += 1;
            }

        });
        $("#tblAlunos").on("click", "input[type='checkbox']", function () {
            var index = $(this).parent().index();
            if ($(this).attr('data-type') == 'aprovado') {
                $(this).parent().parent().find("input[data-type='ignorado']").attr('checked', false);
            }
            else if ($(this).attr('data-type') == 'ignorado') {
                $(this).parent().parent().find("input[data-type='aprovado']").attr('checked', false);
            }
        });

        $("#btnSalvar").click(function () {
      
            $.blockUI({
                message: "Enviando dados...",
                css: {
                    border: 'none',
                    padding: '15px',
                    backgroundColor: '#000',
                    '-webkit-border-radius': '10px',
                    '-moz-border-radius': '10px',
                    opacity: .5,
                    color: '#fff',

                }
            });


            var _mesAno = "";
            var _mes = $("#idMes").val();
            var _ano = $("#idAno").val();

            _mesAno = _mes + '/' + _ano;
            console.log(_mesAno);
            if (_mes == "0" || _ano == "0") {

                alert("Mês Ano é obrigatório pra buscar as turmas.");
                $("#txtItemAES").val('');
                return false;
            }

            var existeRaInvalido = false;
            var Formulario = { NumeroAES: $("#txtNumeroAES").val(), ItemAES: $("#txtItemAES").val(), MesReferencia: _mesAno, IdCursoTurnoTurma: $("#lstTurma option:selected").val() };

            var i = 0;
            var j = 0;
            var presencas = [];
            var diasCalendario = [];
            var alunos = [];
            $("#tblAlunos tbody tr").each(function () {
                alunos[j] = { Matricula: $(this).find("td:eq(0)").attr("data-matricula"), Estagio: $(this).find("td:eq(2) input").val(), RA: $(this).find("td:eq(3) input").val(), AprovadoVence: $(this).find("td:eq(4) input").is(":checked"), IgnorarAluno: $(this).find("td:eq(5) input").is(":checked"), Inscricao: $(this).find("td:eq(0)").attr("data-inscricao") };
                $(this).find("input:checked").each(function () {
                    presencas[i] = {
                        DiaLetivo: $(this).attr("data-diaLetivo"), Horas: $(this).attr("data-horaletiva")
                    };
                    i++;
                });
                alunos[j].Presenca = presencas;
                j++;
                presencas = [];
                i = 0;
            });
            j = 0;
            $("#diasLetivosHeader tr:first-child td").each(function () {
                diasCalendario[j] = { Dia: $(this).attr("data-id"), CargaHoraria: $(this).attr("data-horaletiva") };
                j++;
            });
            Formulario.Calendario = diasCalendario;
            Formulario.Aluno = alunos;
            Formulario.Cpf = $("#txtCpfSup").val();
            Formulario.Token = $("#txtToken").val();

            valido = true;
            $("input[data-type='RA']").each(function () {
                if (!$(this).val())
                    valido = false;
            });
            if (valido)
                valido = validation(Formulario);

            if (valido) {

                $.ajax({
                    type: "POST",
                    url: "/Home/VerificarCadastro",
                    data: JSON.stringify(Formulario),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data) {
                            var r = confirm("Já foram inserida as frequências desta turma. Deseja substituir as frequências?");
                            if (r == true) {
                                $.ajax({
                                    type: "POST",
                                    url: "/Home/Salvar",
                                    data: JSON.stringify(Formulario),
                                    contentType: 'application/json; charset=utf-8',
                                    success: function (data) {

                                        $("#tbAlunosRaInvalido tbody").html("");
                                        $.each(data, function (i, item) {
                                            $("#tbAlunosRaInvalido tbody").append("<tr> <td> " + item.RA + " </td></tr>");
                                            existeRaInvalido = true;
                                        });

                                        if (!existeRaInvalido) {
                                            alert("Lançamento de frequência efetuado com sucesso. Os dados serão processados e reenviados a DE em 20 dias uteis.");
                                            location.reload();
                                        }
                                        else {
                                            alert("Não foi possível concluir o lançamento.Existe(m) número(s) de RA que não conferem com a base de dados GDAE!");
                                            $("#divMessage").css("display", "block");
                                        }
                                        $.unblockUI();
                                    }
                                });
                            }
                        }
                        else {
                            var r = confirm("Você tem certeza que deseja lançar frequência para esta turma neste mês?");
                            if (r == true) {
                                $.ajax({
                                    type: "POST",
                                    url: "/Home/Salvar",
                                    data: JSON.stringify(Formulario),
                                    contentType: 'application/json; charset=utf-8',
                                    success: function (data) {

                                        $("#tbAlunosRaInvalido tbody").html("");
                                        $.each(data, function (i, item) {

                                            $("#tbAlunosRaInvalido tbody").append("<tr> <td> " + item.RA + " </td></tr>");
                                            existeRaInvalido = true;

                                        });

                                        if (!existeRaInvalido) {
                                            alert("Lançamento de frequência efetuado com sucesso. Os dados serão processados e reenviados a DE em 20 dias uteis.");
                                            location.reload();
                                        }
                                        else {
                                            alert("Não foi possível concluir o lançamento.Existe(m) número(s) de RA que não conferem com a base de dados GDAE! ou RA´s duplicados.");
                                            $("#divMessage").css("display", "block");
                                        }

                                        $.unblockUI();
                                    }
                                });
                            }
                        }

                    }
                });

            }
            else {
                alert("Favor preencher corretamente todos os campos antes de efetuar o cadastro.")
                $.unblockUI();
            }
        });

        $("#idMes").change(function () {
          
            var _idTurma = $("#lstTurma").val();
            var _mesAno = "";
            var _mes = $("#idMes").val();
            var _ano = $("#idAno").val();

            _mesAno = _mes + '/' + _ano;


            if (_idTurma > 0 &&  parseInt(_mes) > 0 && parseInt(_ano) > 0 ) {
                $.ajax({
                    type: "POST",
                    url: "/Home/VerificarMesAnoLancados",
                    data: { idTurma: _idTurma, mesAno: _mesAno },
                    success: function (data) {
               
                        if (Boolean(data)) {
                            $("#divMensagemData").removeClass("isa_warning hide");
                            $("#divMensagemData").addClass("isa_warning show");
                        } else {

                            $("#divMensagemData").removeClass("isa_warning show");
                            $("#divMensagemData").addClass("isa_warning hide");
                        }

                    }
                });
            } else {
                $("#divMensagemData").removeClass("isa_warning show");
                $("#divMensagemData").addClass("isa_warning hide");
            }

        });

        $("#idAno").change(function () {
       
            var _idTurma = $("#lstTurma").val();
            var _mesAno = "";
            var _mes = $("#idMes").val();
            var _ano = $("#idAno").val();

            _mesAno = _mes + '/' + _ano;


            if (_idTurma > 0 && parseInt(_mes) > 0 && parseInt(_ano) > 0) {
                $.ajax({
                    type: "POST",
                    url: "/Home/VerificarMesAnoLancados",
                    data: { idTurma: _idTurma, mesAno: _mesAno },
                    success: function (data) {
                       
                        if (Boolean(data)) {
                            $("#divMensagemData").removeClass("isa_warning hide");
                            $("#divMensagemData").addClass("isa_warning show");
                        } else {

                            $("#divMensagemData").removeClass("isa_warning show");
                            $("#divMensagemData").addClass("isa_warning hide");
                        }

                    }
                });
            } else {
                $("#divMensagemData").removeClass("isa_warning show");
                $("#divMensagemData").addClass("isa_warning hide");
            }

        });
        $("#lstTurma").change(function () {
      
            var _idTurma = $(this).val();
            var _mesAno = "";
            var _mes = $("#idMes").val();
            var _ano = $("#idAno").val();

            _mesAno = _mes + '/' + _ano;

            if (_mes == "0" || _ano == "0") {
                alert("Mês Ano é obrigatório pra buscar as turmas.");
                return false;
            }
            if (_idTurma > 0) {
                $.ajax({
                    type: "POST",
                    url: "/Home/VerificarMesAnoLancados",
                    data: { idTurma: _idTurma, mesAno: _mesAno },
                    success: function (data) {
                      
                        if (Boolean(data)) {
                            $("#divMensagemData").removeClass("isa_warning hide");
                            $("#divMensagemData").addClass("isa_warning show");
                        } else {

                            $("#divMensagemData").removeClass("isa_warning show");
                            $("#divMensagemData").addClass("isa_warning hide");
                        }

                    }
                });
            } else {
                $("#divMensagemData").removeClass("isa_warning show");
                $("#divMensagemData").addClass("isa_warning hide");
            }

            console.log($("#lstTurma option:selected").val());
            if ($("#lstTurma option:selected").val()) {
                $.ajax({
                    type: "POST",
                    url: "/Home/BuscarAlunos",
                    data: JSON.stringify({ IdTurma: $("#lstTurma option:selected").val() }),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        var retorno = JSON.parse(data);
                        $("#tblAlunos tbody").html("");
                        $("#diasLetivosHeader thead tr").html("");

                        //var token = $("#txtToken").val();
                        //var aes = $("#txtNumeroAES").val();

                        //$.ajax({
                        //    type: "POST",
                        //    url: "/Home/ValidarLancamentos",
                        //    data: { token: token, aes: aes },
                        //    success: function (data) {

                        //        if (Boolean(data)) {
                        //            $("#btnSalvar").hide();

                        //            $("#divFinalizado").removeClass("isa_success hide");
                        //            $("#divFinalizado").addClass("isa_success show");

                        //        }
                        //    }
                        //});

                        for (var item in retorno) {
                            $("#tblAlunos tbody").append("<tr><td data-matricula='" + retorno[item].Matricula + "' data-inscricao='" + retorno[item].Inscricao + "'>" + retorno[item].Nome + "</td><td></td><td><input data-type='Hora' data-tipo='Estagio' type='text' class='form-control' /></td><td><input data-type='RA' type='text' class='form-control' value='" + retorno[item].RA + "' /></td><td><input data-type='aprovado' type='checkbox' class='form-control' /></td><td><input data-type='ignorado' type='checkbox' class='form-control' /></td></tr>");
                        }
                        $('input[data-tipo]').mask('999:99');
                    }
                });
            }
        });

        $("#txtToken").focusout(function () {
            $.ajax({
                type: "POST",
                url: "/Home/Token",
                data: JSON.stringify({ token: $("#txtToken").val() }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data == "") {
                        $("#divMensagemERR").removeClass("isa_error hide");
                        $("#divMensagemERR").addClass("isa_error show");
                    } else {
                        $("#txtNumeroAES").val(data);
                        $("#divMensagemERR").removeClass("isa_error show");
                        $("#divMensagemERR").addClass("isa_error hide");



                        var token = $("#txtToken").val();
                        var aes = data;

                        $.ajax({
                            type: "POST",
                            url: "/Home/ValidarLancamentos",
                            data: { token: token, aes: aes },
                            success: function (data) {

                                if (Boolean(data)) {
                                    $("#btnSalvar").hide();

                                    $("#divFinalizado").removeClass("isa_success hide");
                                    $("#divFinalizado").addClass("isa_success show");

                                }
                            }
                        });


                    }




                }
            });
        });
        $("#btnLimparDiaLetivo").click(function () {
            var r = confirm("Você realmente deseja limpar o calendário?");
            if (r == true) {
                $("#tblAlunos tbody tr").each(function () {
                    $(this).find("td:eq(1)").html('');
                });
                $("#diasLetivosHeader thead tr").html('');

                diasLancados = new Array();
            }
        });
    };
    function limparFormulario() {

    }
    function validation(formulario) {
        if (!formulario.NumeroAES)
            return false;
        if (!formulario.ItemAES)
            return false;
        if (!formulario.Cpf)
            return false;
        if (!formulario.Token)
            return false;
        if (!formulario.IdCursoTurnoTurma)
            return false;

        return true;
    }

</script>