<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        img {
            cursor: pointer;
        }

        .ui-dialog-titlebar-close {
            visibility: hidden;
        }

        #tblCalendario td {
            width: 35px;
        }

        #tblCalendario tr:first-child td {
            border-top: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <div id="FiltrosTurma" class="form-group row">
                <div class="col-xs-2">
                    <label for="ex3">Chave</label>
                    <input class="form-control" id="txtToken" type="text">
                </div>
                <div class="col-xs-2">
                    <label for="ex1">Número AES</label>
                    <input class="form-control" id="txtNumeroAES" type="text" disabled="disabled">
                </div>
                <div class="col-xs-2">
                    <label for="ex2">Item AES</label>
                    <input class="form-control" id="txtItemAES" type="text">
                </div>
                <div class="col-xs-3">
                    <label for="ex3">Mês de Referência</label>
                    <input class="form-control" id="txtMesReferencia" type="text">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-xs-12">
                    <label for="ex3">Curso/Turno/Turma</label>
                    <select class="form-control" id="lstTurma" type="text">
                        <option value="0">Selecione...</option>
                    </select>
                </div>
            </div>
        </div>
        <div>
            <table id="tblAlunos" class="table">
                <thead>
                    <tr>
                        <th>Matrícula</th>
                        <th>Aluno</th>
                        <th style="text-align:center;">Calendário</th>
                        <th>Estágio</th>
                        <th>RA</th>
                        <th>Aprovado</th>
                        <th>Ignorado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <script>
        function BuscarTurmas() {
            if ($("#txtNumeroAES").val() && $("#txtItemAES").val() && $("#txtMesReferencia").val()) {
                var filtros = { NumeroAES: $("#txtNumeroAES").val(), ItemAES: $("#txtItemAES").val(), MesReferencia: $("#txtMesReferencia").val() };
                console.log(filtros);
                $.ajax({
                    type: "POST",
                    url: "/Home/BuscarTurmas",
                    data: JSON.stringify(filtros),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        var retorno = JSON.parse(data);
                        $("#lstTurma").html("");
                        for (var item in retorno) {
                            $("#lstTurma").append("<option value='" + retorno[item].Id + "'>" + retorno[item].Nome + "</option>")
                        }
                    }
                });
            }
        }
        function PesquisarTurmas() {
            $("#txtNumeroAES").focusout(function () {
                BuscarTurmas();
            });
            $("#txtItemAES").focusout(function () {
                BuscarTurmas();
            });
            $("#txtMesReferencia").focusout(function () {
                BuscarTurmas();
            });
        }
        window.onload = function () {
            $("#ModalCalendario").dialog({
                autoOpen: false,
                width: 1200
            });

            $("#btnFecharCalendario").click(function () {
                $("#ModalCalendario").dialog('close');
            });
            $("#txtMesReferencia").mask("99/9999");
            PesquisarTurmas();
            $("#txtToken").focusout(function () {
                $.ajax({
                    type: "POST",
                    url: "/Home/Token",
                    data: JSON.stringify({ token: $("#txtToken").val() }),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        $("#txtNumeroAES").val(data);
                    }
                });
            });

            $("#lstTurma").change(function () {
                console.log($("#lstTurma option:selected").val());
                if ($("#lstTurma option:selected").val()) {
                    $.ajax({
                        type: "POST",
                        url: "/Consulta/BuscarAlunos",
                        data: JSON.stringify({ IdTurma: $("#lstTurma option:selected").val(), mesReferencia: $("#txtMesReferencia").val() }),
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            var retorno = JSON.parse(data);
                            $("#tblAlunos tbody").html("");

                            for (var item in retorno) {
                                var statusAluno;
                                var aprovado;
                                var ignorado;
                                if (retorno[item].AprovadoVence)
                                    aprovado = "Aprovado";
                                else
                                    aprovado = "Não Aprovado";
                                if (retorno[item].IgnorarAluno)
                                    ignorado = "Ignorar";
                                else
                                    ignorado = "Não Ignorar";

                                if (retorno[item].StatusAluno == 2) {
                                    statusAluno = 'Desistente';

                                    $("#tblAlunos tbody").append("<tr style='background-color:#FF6347;'><td>" + retorno[item].Matricula + "</td><td>" + retorno[item].Nome + "</td><td></td><td data='Estagio'>" +
                                        retorno[item].Estagio + "</td><td data='RA'>" + retorno[item].RA + "</td><td data='Aprovado'>" +
                                        "</td><td data='Ignorado'>" + "</td><td>" + statusAluno + "</td></tr>");
                                }
                                else {
                                    statusAluno = '';
                                    $("#tblAlunos tbody").append("<tr><td>" + retorno[item].Matricula + "</td><td>" + retorno[item].Nome + "</td><td style='text-align:center'><img src='../Content/calendar.png' data-matricula='" + retorno[item].Matricula + "' data-aluno='" + retorno[item].Nome + "' /></td><td data='Estagio'>" +
                                        retorno[item].Estagio + "</td><td data='RA'>" + retorno[item].RA + "</td><td data='Aprovado'>" + aprovado +
                                        "</td><td data='Ignorado'>" + ignorado + "</td><td>" + statusAluno + "</td></tr>");
                                }

                            }
                        }
                    });
                }
            });
            $("#tblAlunos").on("click", "img", function () {
                $("#tblCalendario tr:first-child").html('<td style="width:35px;"><label class="control-label">Dia:</label></td>');
                $("#tblCalendario tr:eq(1)").html('<td style="width:35px;"><label class="control-label">Minutos:</label></td>');
                $("#TotalDiasLetivos").text('');
                $("#TotalPresenca").text('');
                $.ajax({
                    type: "POST",
                    url: "/Consulta/DetalheAluno",
                    data: JSON.stringify({ Matricula: $(this).attr('data-matricula'), MesReferencia: $("#txtMesReferencia").val(), IdCursoTurnoTurma: $("#lstTurma option:selected").val() }),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        var retorno = JSON.parse(data);
                        $("#TotalPresenca").text(retorno.length);
                        if (retorno.length == 1 && retorno[0].DiaLetivo == '')
                            $("#TotalPresenca").text('0');
                        for (var item in retorno) {
                            $("#tblCalendario tr:first-child").append("<td style='text-align:center;'>" + retorno[item].DiaLetivo + "</td>");
                            $("#tblCalendario tr:eq(1)").append("<td style='text-align:center;'>" + retorno[item].Horas + "</td>");
                            $("#TotalDiasLetivos").text(retorno[item].TotalDiasLetivos);
                        }

                    }
                });
                $("#nomeAluno").text($(this).attr('data-aluno'));
                $("#calAES").text($("#txtNumeroAES").val());
                $("#calNumeroAES").text($("#txtItemAES").val());
                $("#calMesRef").text($("#txtMesReferencia").val());
                $("#ModalCalendario").dialog("open");
            });
        }
    </script>
    <div id="ModalCalendario" title="Presenças" style="width:80%;display:none;">
        <fieldset>
            <div class="form-group">
                <div><label class="control-label" style="padding-right:30px;padding-bottom:15px;">Nome Aluno:</label><span id="nomeAluno" style="padding-right:30px;"></span><label class="control-label" style="padding-right:30px;padding-bottom:15px;">Dias Letivos:</label><span id="TotalDiasLetivos" style="padding-right:30px;"></span><label class="control-label" style="padding-right:30px;padding-bottom:15px;">Total de Presenças:</label><span id="TotalPresenca" style="padding-right:30px;"></span></div>
                <div><label class="control-label" style="padding-right:30px;padding-bottom:20px;">AES:</label><span id="calAES" style="padding-right:30px;"></span> <label style="padding-right:30px;" class=" control-label">Número AES:</label><span id="calNumeroAES" style="padding-right:30px;"></span> <label style="padding-right:30px;" class="control-label">Mês Referência:</label><span id="calMesRef"></span></div>
            </div>
        </fieldset>
        <fieldset>
            <table id="tblCalendario">
                <tr style="border-bottom:solid;"><td><label class="control-label">Dia:</label></td></tr>
                <tr><td><label class="control-label">Minutos:</label></td></tr>
            </table>
        </fieldset>
        <div style="width : 100%; text-align:center;"> <input id="btnFecharCalendario" type="button" class="btn" value="Fechar" /></div>

    </div>
</body>
</html>
