@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">

    <div class="jumbotron">
        <label for="ex3"> Alunos Ativos  </label>
        <div id="FiltrosTurma" class="form-group row">
            <div class="col-xs-2">
                <label for="ex3">Chave</label>
                <input class="form-control" id="txtToken" type="text">
            </div>

            <div class="col-xs-2">
                <label for="ex1">Mês</label>
                <select class="form-control" id="codMes" type="text">
                    <option value="0">Selecione...</option>
                    <option value="12">12</option>
                    <option value="11">11</option>
                    <option value="10">10</option>
                    <option value="09">09</option>
                    <option value="08">08</option>
                    <option value="07">07</option>
                    <option value="06">06</option>
                    <option value="05">05</option>
                    <option value="04">04</option>
                    <option value="03">03</option>
                    <option value="02">02</option>
                    <option value="01">01</option>
                </select>
                
            </div>
            <div class="col-xs-2">
                <label for="ex1">Ano</label>
                <select class="form-control" id="codAno" type="text">
                    <option value="0">Selecione...</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                </select>
            </div>
            <div class="col-xs-2">
                <label for="ex1">Edição</label>
                <select class="form-control" id="codEdicao" type="text">
                    <option value="0">Selecione...</option>
                    <option value="5">5</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1</option>
                </select>

            </div>
            <div class="form-group" style="padding-top:42px;">

                <input id="btnPesquisar" type="button" class="btn" value="Pesquisar" />

            </div>
        </div>
        <label style="font-size:small; color:red;"> * Chave, Mês/Ano são obrigatórios! </label>
    </div>
    <div id="alunos">
    </div>



</div>

<script>
    window.onload = function () {

        $("#btnPesquisar").click(function (e) {

            e.preventDefault();
            if (vaidarInputs()) {
           
                $.ajax({
                    type: "POST",
                    async: true,
                    dataType: "html",
                    url: "/Aluno/ValidarToken",
                    data: { token: $("#txtToken").val() },
                    success: function (data) {
                        debugger;
                      
                        $('#alunos').html(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {

                        $(document).ajaxStop(function () {
                            debugger;
                        });

                    }
                });

            }


        });
    };

    function vaidarInputs() {
     
        if ($("#codAno").val() == 0 || $("#codMes").val() == 0 || $("#txtToken").val() == "") {
            alert("Os campos com * são obrigatórios!");
            return false;
        }
        return true;
    }
</script>