@model List<Vence.Input4Edicao.Controllers.Alunos>

@if (Model != null)
{
    <table id="tblAlunos" class="table">

        <thead>
            <tr>
                <th>AES</th>
                <th>Mantenedora</th>
                <th>Item Aes</th>
                <th>Vagas</th>
                <th>Matriculados</th>
                <th>Ativos</th>
            </tr>

        </thead>

    </table>
}