body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Arial,Verdana,Helvetica,sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h2 {
    border-bottom: 3px solid #000000;
    padding-bottom: 5px;
    font-size:34px;
    font-weight:bold;
}

#content{
    padding-top:15px;
}

fieldset {
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 10px;
}

legend {
    border: medium none;
    padding: 0 10px;
    position: relative;
    text-align: left;
    width: auto;
    color: #3C6EAC;
    font-size: 12px;
    font-weight: bold;
}

#divButton {
    float:left;
    width: 600px;   
}

#saldo {
    float:right;
    font-size:18px;
}

#gvEstagio{
    padding-top:15px;
}

#lblSaldo {
    padding-top:30px;
}

#filtros {
    padding-left:10px;
}

#resultado {
   padding-left:20px;    
}

#resultado label {
    color:#ff0000;
    padding-left:35%;
}

input.text { 
    border: 1px solid #999999; 
    border-radius: 1px; 
    padding: 8px;
    line-height: 12px !important;
    height:30px;
    width:120px;
}

input.text:focus { 
    border-color: #2f7ab0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #2f7ab0; 
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #2f7ab0; 
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #2f7ab0;
    background-color:#fefdd9; 
}

#divButton {
    padding-top: 15px;
    padding-bottom: 15px;
}

.tabela {
    table-layout: fixed;
    border: 1px solid #808080;
    border-left: 1px solid #808080;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 12px;    
}

.tabela td {
    border: 1px solid #CCC;
}
                      
.tabela tr {
    height:35px;
    border-bottom: 1px solid ##808080;
}
.tabela thead {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.075);
}

label.error {
    color:#ff0000;
    padding-left:10px;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 12px; 
}

#spin {
		background: #333;
		color: white;
		float: left;
		width: 200px;
		height: 200px;
		margin: 0 20px 20px 0;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
}
